
<section class="section-container col s12 m12 l8">
  <header class="card section-container__header">
    <h2>Event Hunter</h2>
  </header>
  <div class="card section-container__content">
    <div id="mapazo"></div>
  <ul class="collection">
  </ul>

  </div>
</section>
<section class="section-container col s12 m12 l4">
  <header class="card section-container__header">
    <h2>New Event</h2>
  </header>
  <div class="card section-container__content">
    <form method="POST" action="/maps">
      <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input id="createEvent__name" type="text">
                <label for="last_name">Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="createEvent__location" type="text" placeholder="Search for your location...">
                <label for="createEvent__location">Location</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input id="createEvent__from" type="date" class="datepicker">
                <label for="first_name">From</label>
              </div>
              <div class="input-field col s6">
                <input id="createEvent__to" type="date" class="datepicker">
                <label for="last_name">To</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <div id="createEvent__languages" class="chips chips-autocomplete"></div>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <textarea id="createEvent__description" class="materialize-textarea"></textarea>
                <label for="textarea1">Description</label>
              </div>
            </div>
            <div id="map"></div>
            <div class="row">
              <div class="input-field col s12">
                <div id="createEvent" class="right waves-effect waves-light btn">Create<div>
              </div>
            </div>
          </form>
        </div>
    </form>
  </div>
</section>
<!-- <section class="section-container col s12 m12 l4">
  <header class="section-container__header">
    <h2>Scheduled Events</h2>
  </header>
  <div class="card section-container__content">
    <p>Name</p>
    <p>From - To</p>
    <p>Languages</p>
    <p>Distance</p>
    <p>Join</p>
    <p>More Info</p>
  </div>
</section> -->


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJN77Ru1GI4j9aXygNrZSA_CluLlat_6k&libraries=places"></script>
