html {
  font-size: 90%;
}

.main-container {
  font-size: 0;
  max-width: 1024px;
  margin: auto;
  height: 85vh;
  /*display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;*/
  padding-top: 15px;
}

.main-container p {
    font-size: 14.4px;
    font-size: 1rem;
  }

.section-container {
  width: 33.33333%;
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
  padding: 10px;

}

.section-container__header {
    padding: 1px;
    margin-bottom: 0px;
    background: #102027;

  }

.section-container__header h2 {
      font-size: 22.464px;
      font-size: 1.56rem;
      text-align: center;
      color: white;
      margin: 10px 0px;
    }

.section-container__content {
    margin-top: 0px;
    padding-bottom: 20px;
  }

#map {
  width: 100%;
  height: 200px;
}

.row {
  margin-bottom: 5px;
}

.cover-container {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  height: 100%;
}

.cover-container > img {
    width: 200px;
    padding-bottom: 20px;
  }

.event-card {
  position: relative;

}

.event-card__date {
    top: 15px;
    right: 15px;
    position: absolute;
  }

.event-card__date span {
      color: #26a69a;
      font-size: 14.4px;
      font-size: 1rem;
      padding-left: 20px;
    }

.event-card__buttons {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
            justify-content: flex-end;

  }

.event-card__buttons a {
      margin-left: 20px;
    }

#mapazo {
  width: 100%;
  height: 500px;
}
