<section class="collection card section-container col s12">
  <div class="collection-item event-card">
  <div id="repositories" class="row">
      <tbody>



            <td class="text-center"> <h1 id="username" class="badge"><%= data.username %></h1></td>



          <section id="userinfo" class="card-action">

          </section>

      </tbody>
  </div>
</div>
</section>
<script src="/chart.js/dist/Chart.js"></script>

<script type="text/javascript" src="/javascripts/handler.js"></script>
